@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


header {
    background: rgba( 44, 123, 191, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: white;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo h1 {
    font-family: "Nunito", sans-serif;
    font-size: 1.8rem;
    margin: 0;
}

nav ul {
    font-family: "Nunito", sans-serif;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    font-family: "Nunito", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a.highlight {

    background-color: #FFDD00;
    color: #2C7BBF; 
    padding: 5px 15px;
    border-radius: 25px;
}

nav ul li a:hover {
    opacity: 0.8;
}

footer {
    font-family: "Nunito";
    text-align: center;
}
